<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Browser Snakes!</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="css/style.css">

	<script src="js/libs/modernizr-2.0.min.js"></script>
	<script src="js/libs/respond.min.js"></script>
</head>
<body>
	<div class="wrapper eightbit">
		<h1>Browser Snakes!</h1>
		<p>
			Eat! Grow! Win!
		</p>
	</div>
	<div id="stage-wrapper" class="wrapper">
		<div id="game-info" class="eightbit">
			<div class="Waiting">
				<p>Waiting for additional players to join</p>
				<div style="height: 100px; text-align: center;">
					<button class="StartAnyway punch eightbit">Start Anyway</button>
				</div>
			</div>
		</div>
	</div>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="js/libs/crafty.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/constants.js"></script>
	<script src="js/scenes.js"></script>
	<script src="js/script.js"></script>

</body>
</html>
