<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Browser Snakes!</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="css/style.css">

	<script src="js/libs/modernizr-2.0.min.js"></script>
	<script src="js/libs/respond.min.js"></script>
</head>
<body>

	<div class="wrapper eightbit">
		<h1>Browser Snakes!</h1>
		
		<div style="float: left; margin-bottom: 100px; width: 100%;">
			<div style="height: 75px; width: 50%; float: left;">
				<p>Eat! Grow! Win!</p>
			    <div style="text-align:center;"><button id="JoinGame" class="punch eightbit">Join a Game!</button></div>
			</div>
		
			<div style="width: 50%; float: right;">
				<p>Vote in <a href="http://nodeknockout.com" target="_blank">Node KO</a>!</p>
				<div style="text-align:center;">
					<iframe src="http://nodeknockout.com/iframe/jspotters" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
					</iframe>
				</div>
			</div>
		</div>
		
		<div style="clear: both;">
			<h2>How to handle your browser snake</h2>
			<ul>
				<li>Don't stop</li>
				<li>Arrow keys turn</li>
				<li>Avoid the walls</li>
				<li>Don't let 'em touch</li>
				<li>Eat fruit to grow</li>
				<li>Share your browser snake</li>
			</ul>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
	<script src="js/plugins.js"></script>
	<script>
		$(function() {
			$('#JoinGame').click(function() {
				window.location = '/join';
			});
		});
	</script>
</body>
</html>
